.svgBox {
    width:98vw;
    height: 98vh;
}

.tooltip {
  position: absolute;
  background-color: #EEEEEE;
  border: 1pt solid #4A4A4A;
  padding: .5%;
  font-family: "Roboto", Verdana, sans-serif;
  font-size: .8rem;
}

text {
  font-family: "Roboto", Verdana, sans-serif;
}
